body{
    background-color: #7db0de;
    color:#1d5c96 ;
    text-align: center;
}

#intro{
    font-size: 90px;
    color: #12395d;
    font-weight: 900;
    text-shadow: #7db0de;
    margin-top: 20%;
}

.intro-p{
    font-size: 40px;
    text-align: center;
    font-weight: 500;
}

#start-btn, #update-btn{
    background-color:#12395d;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}